<nav class="navbar navbar-light bg-light justify-content-between mt-3">
    <ul class="nav nav-pills">
        <li class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" autocomplete="off" disabled> Ordenar por fecha
            </label>
            <label class="btn btn-primary">
              <input type="radio" autocomplete="off" (click)="orderByDate('asc')"> ASC
            </label>
            <label class="btn btn-primary">
              <input type="radio" autocomplete="off" (click)="orderByDate('desc')"> DESC
            </label>
        </li>
        <li class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" autocomplete="off" disabled> Ordenar por precio
            </label>
            <label class="btn btn-primary">
              <input type="radio" autocomplete="off" (click)="orderByPrice('asc')"> ASC
            </label>
            <label class="btn btn-primary">
              <input type="radio" autocomplete="off" (click)="orderByPrice('desc')"> DESC
            </label>
        </li>
    </ul>
</nav>

<form action="" class="form m-3">
    <div class="form-group row">
        <label for="filterDesc" class="col-form-label col-sm-2 text-sm-right">Filtro:</label>
        <div class="col-sm-5">
            <input type="text" id='filterDesc' name="filterDesc" class="form-control" [(ngModel)]='filterSearch' placeholder="comics...">
        </div>
        <label for="" class="col-form-label col-sm-5">Filtrado por: {{ filterSearch }}</label>
    </div>
</form>

<div class="row" *ngIf='events.length' >
    <div class="col-6 mt-4" *ngFor='let event of events | eventFilter:filterSearch | eventOrderBy:orderBy:ascOrDesc'>
        <div class="card">
            <img [src]="event.image" class="card-img-top" alt="imagen del evento">
            <div class="card-body">
                <h4 class="card-title">{{ event.title | titlecase }}</h4>
                <p class="card-text">{{ event.description }}</p>
            </div>
            <div class="card-footer text-muted">
                <span>{{ event.date | date:'dd/MM/y' }}</span>
                <span class='float-right'>{{ event.price | currency:'EUR':true }}</span>
            </div>
        </div>
    </div>
</div>
