<div class="col mt-4">
    <div class="card">
        <img [src]="event.image" class="card-img-top" alt="imagen del evento">
        <div class="card-body">
            <h4 class="card-title">{{ event.title | titlecase }}</h4>
            <p class="card-text" [innerText]='event.description'></p>
        </div>
        <button class="btn btn-danger" (click)='deleteEvent()'>Eliminar</button>
        <div class="card-footer text-muted">
            <span>{{ event.date }}</span>
            <span class='float-right'>{{ event.price | currency:'EUR':true }}</span>
        </div>
    </div>
</div>